.yin-yang{
    height: 200px;
    width: 200px;
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(to right,white 50%,black 50% );
    border-radius : 50%;
    box-sizing: border-box;
    border: 4px solid black;
}
.yin-yang::before,
.yin-yang::after{
    content: "";
    position: absolute;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-sizing: border-box;
    
    
}
.yin-yang::before{
    background: black;
    border: 40px solid white;
    left: 50px;
    top: 0%;
}
.yin-yang::after{
    background: white;
    border: 40px solid black;
    left: 50px;
    bottom: 0%;
}